<div class="container">
  <form
    [formGroup]="authForm"
    name="form"
    class="box"
    (ngSubmit)="onSubmit(authForm.value)"
  >
    <h4>Sign up to your account.</h4>
    <label for="email">
      <h5>Email</h5>
      <input
        type="text"
        name="email"
        placeholder="Email"
        autocomplete="off"
        formControlName="email"
      />
    </label>
    <label for="password">
      <h5>Password</h5>
      <input
        type="password"
        name="password"
        placeholder="Password"
        id="pwd"
        autocomplete="off"
        formControlName="password"
      />
    </label>

    <input type="submit" value="Sign up" class="btn1" />
  </form>
  <a href="#" class="dnthave">Don’t have an account? Sign up</a>
</div>
